.button-wrapper {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  width: 100%;
}

.button-div {
}

.button-back {
  background: hsl(345deg 100% 37%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.button-front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 46%);
  color: white;
  transform: translateY(-6px);
}

.button-back:active .button-front {
  transform: translateY(2px);
}

@font-face {
  font-family: deadly;
  src: url(/fonts/deadly_killers/deadly-killers.otf);
}

@font-face {
  font-family: run2;
  src: url(/fonts/run_2/run.otf);
}

@font-face {
  font-family: heartless;
  src: url(/fonts/heartless/heartless.ttf);
}
